mixin output(label, isFeature)
  - css = isFeature ? " feature" : ""
  div(class="output" + css)
    block
    span(class="label")= label

doctype html
html(lang="en")
  head
    title= "Demo"
    link(type="text/css", rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="content-language", content="en")
    meta(charset="UTF-8")

  body

    header
      h1= "Demo based on @kig's tutorial and repo"
      ul
        li= "Multiple Markers"
        li= "Magi.JS"
        li
          a(href="http://www.html5rocks.com/en/tutorials/webgl/jsartoolkit_webrtc/")= "@kig html5rocks Tutorial"
        li
          a(href="https://github.com/kig/JSARToolKit")= "@kig JSARToolKit Repo"

    +output("Rendered <canvas>", true)
      canvas(class="gl")
    +output("Input <canvas>")
      canvas(class="output")
    +output("Input <video>")
      video(autoplay=true)

    script(src="./../../resources/jquery/dist/jquery.min.js")
    script(src="./../../magi.js")
    script(src="./../../../JSARToolKit.min.js")
    script(src="script.js")